<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>testResultFileName</param-name>
        <param-value>testResultFile.txt</param-value>
    </context-param>
    <context-param>
        <param-name>country</param-name>
        <param-value>Argentina</param-value>
    </context-param>
    <servlet>
        <servlet-name>HandelPost</servlet-name>
        <servlet-class>HandelPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTestResult</servlet-name>
        <servlet-class>SaveTestResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHWVariable</servlet-name>
        <servlet-class>GetHWVariable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEsp32Image</servlet-name>
        <servlet-class>ShowEsp32Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartSocketServer</servlet-name>
        <servlet-class>StartSocketServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandelPost</servlet-name>
        <url-pattern>/HandelPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTestResult</servlet-name>
        <url-pattern>/SaveTestResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHWVariable</servlet-name>
        <url-pattern>/GetHWVariable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEsp32Image</servlet-name>
        <url-pattern>/ShowEsp32Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSocketServer</servlet-name>
        <url-pattern>/StartSocketServer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
